.main {
  display: grid;
  grid-template-rows: max-content 5fr;
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  padding: 0.5rem;
}

.div {
  display: grid;
  place-items: center;
}

.div > select {
  width: 50%;
  margin: auto;
  border-radius: 1.5rem;
  border: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  text-align: center;
}


@media screen and (min-width: 768px) {

  .div {
    grid-column: span 4;
  }


}
