.main {
  background: linear-gradient(250deg, var(--background), var(--primary));
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
  display: grid;
  grid: max-content 1fr / 1fr;
  gap: 6rem;
}

.artistInfo {
  display: grid;
  max-height: 80vh;
  overflow: auto;
  padding: 2rem;
  line-height: 2rem;
  border-radius: 5px;
  border: 5px double var(--secondary);
  background-color: var(--primary);
}

.artistInfo ul {
  list-style: none;
}

.info {
  display: grid;
  grid-template-columns: 1fr;
  overflow-x: hidden;
  place-items: center;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .main {
    grid: max-content 1fr / 1fr;
    padding: 0 1.5rem;
    gap:3rem;
  }

  .info {
    grid-template-columns: 1fr 3fr;
  }
}
