.section {
  display: grid;
  max-width: 100%;
  place-items: center;
  border: 5px double var(--secondary);
  padding: 0.5rem;
  position: relative;
  background: linear-gradient(
    180deg,
    var(--primary) 75%,
    var(--background) 80%
  );
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: MOVE-BG;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  grid: 1fr 0.25fr / 1fr;
}

.article {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.player {
  width: 30rem;
  height: 30rem;
}

.title {
  place-self: center;
  color: white;
  text-shadow: 2px 2px 2px rgb(0 0 0 / 15%);
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  position: relative;
  top: -3rem;
  background: var(--secondary);
  padding: 0.15rem;
  border-radius: 1rem 0 1rem 0;
}

.statistics {
  display: grid;
  grid: 1fr / 1fr;
  width: 100%;
  background: rgba(18, 18, 18, 0.9);
  border-radius: 2rem 2rem 0 0;
}

.statistics h4 {
  text-align: center;
  color: var(--primary);
  font-style: italic;
  font-weight: 500;
}

.infosStatistics {
  display: grid;
  color: white;
  padding: 2rem;
  border-bottom: 2px solid white;
}

.infosStatistics > p {
  border-bottom: 0.5px solid white;
  margin-block: 5px;
}

@media screen and (min-width: 768px) {
  .section {
    grid: 1fr / 1.5fr 1fr;
    background: linear-gradient(
      90deg,
      var(--primary) 55%,
      var(--background) 60%
    );
  }

  .statistics {
    grid: 1fr / repeat(2, 1fr);
  border-radius: 2rem;

  }

  .infosStatistics {
    grid-column: span 2;
  }

  .player {
    width: 50rem;
    height: 30rem;
  }
}

@keyframes MOVE-BG {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 200%;
  }
  100% {
    background-position: 0% 0%;
  }
}
