a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

/* A cada 1rem será considerada 10px */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

:root {
  --background: #130007;
  --primary: #fbd3ba;
  --secondary: #f88594;
}
