.main {
  background-color: var(--primary);
  background-image: url('/images/banner.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
  display: grid;
  padding: 0 5rem;
  grid: max-content 1fr / 1fr;
  animation-name: MOVE-BG;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.artistInfo {
  display: grid;
  max-height: 80vh;
  overflow: auto;
  padding: 2rem;
  line-height: 2rem;
  border-radius: 5px;
  border: 5px double var(--secondary);
}

.artistInfo ul {
  list-style: none;
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  min-height: 100vh;
  place-items: center;
}

.section > article:first-child {
  width:100%;
}

.section > article:not(:first-child) {
  display: grid;
  width: 100%;
  padding: 2rem 0;
  grid-template-rows: min-content 1fr;
}

.section > article h3 {
  place-self: center;
  color: white;
  padding: 25px;
  text-shadow: 0 2px 2px rgb(0 0 0 / 15%);
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

.section > article > div {
  display: grid;
  grid: 1fr / 1fr 1fr;
}

.section > article > div > div:not(:last-child){
  border-right: 5px double black;
}

@keyframes MOVE-BG {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
